@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-color: rgb(220, 220, 229); */
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity)) /* #1e293b */;

  margin: 0;
  padding: 0;
}